<div class="flex justify-center items-center min-h-screen overflow-hidden bg-[#111827]">

    <div class="container z-10">
            <!-- <h1 class="text-9xl text-white font-playfairDisplay">Céline Louvel</h1>
            <h3 class="text-7xl text-white font-bebasNeue text-center">Développement Web & Mobile</h3>   -->
            <span class="text1 font-playfairDisplay text-white text-[8rem]">Céline Louvel</span>
            <span class="text2 font-bebasNeue text-white text-6xl text-[#DCC8D]">Développement Web & Mobile</span>
    </div>

    <!-- <app-animate-home-page></app-animate-home-page> -->

    
</div>