<div class="flex justify-center items-center min-h-screen overflow-hidden bg-gray-900">
    <div class="z-10">
            <h1 class="text-9xl text-white">Céline Louvel</h1>
            <h3 class="text-7xl text-white font-bebasNeue">Développement Web & Mobile</h3>  
    </div>
    <div class="loader z-0">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
        <span style="--i:4;"></span>
        <span style="--i:5;"></span>
        <span style="--i:6;"></span>
        <span style="--i:7;"></span>
        <span style="--i:8;"></span>
        <span style="--i:9;"></span>
        <span style="--i:10;"></span>
    </div>
</div>